--- 
# Only the main Sass file needs front matter (the dashes are enough) search: false 
--- 
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* 自定義文章懸停效果 */
.archive__item {
    padding: 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    border: 1px solid transparent;

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
        border: 1px solid #f2f2f2;
    }
}

.archive__item a {
    text-decoration: none !important;
}